.colBorder
{
    background-color: #d9edf7;
    height: 50px;
    padding:10px;
    text-align: center;
    border: 2px solid white;
}
.colBorderheading
{
    background-color: #000000;
    height: 50px;
    padding:10px;
    text-align: center;
    border: 2px solid white;
    color: white;
}
@media only screen and (max-width:767px) {
    .colBorder
{
    background-color: #d9edf7;
    height: 80px;
    padding:5px;
    font-size: small;
    border: 2px solid white;
}
.colBorderheading
{
    background-color: #000000;
    height: 80px;
    padding:5px;
    font-size: small;
    border: 2px solid white;
    color: white;
}
}